<main class="about-main">
    <!-- simple page design, only 1 block of text with header nested with in for page aesthetic. -->
    <section class="about-block">
        <h1 class="page-header">About</h1>
        <h2><b>Raymond,</b></h2>
        <p><b>Ex-Accountant | Present Software Developer</b></p>
        <p>After half a decade of working as an accountant for various firms and providing clients with the utmost trust
            and reliability my aspirations changed. I wanted to find a path that could better combine the joys of
            helping others and the constantly progressing tech. This path lead to software development.
        </p>
        <p>Welcome to my space and I hope you enjoy what you see.</p>
        <p>Through this space you can navigate to see various projects and if you wish to send me a message, please
            either follow the social media links you see below or send a message via the form in the contact page.</p>
        <!-- highlight were important information can be found using <b></b> tags -->
        <p>My <b>CV</b> is also downloadable in the <b>Journey</b> page. You won't miss it.</p>
        <p>When i'm not programming, I spend my days learning, as this world is limitless with information; attending
            art galleries; hopping between cafes; or simply relaxing with my cats enjoying some shows/films.</p>
        <p>I hope I can continue to evolve and create projects that you can enjoy.</p>
        <p>Thank you.</p>
    </section>
    <!-- personal photo that appears only for smaller screens as background image will be covered for smaller screens. -->
    <div class="dp">
        <img src="../imgs/About/Optimized-5162018-485.jpg" alt="dp">
    </div>
    <div class="quote-container">
        <p class="quote-text">- Time waits for no one.</p>
    </div>
</main>