<div class="h1-container">
	<h1 class="default-page-header blog-header">Blog Posts</h1>
</div>
<main>
	<% @projects.each do |project| %>
		<% project.assets.each do |tech| %>
			<%= image_tag "Projects/#{tech.path}" %>
		<% end %>
	<% end %>
</main>
