<div class="h1-container">
	<h1 class="default-page-header blog-header">Journey</h1>
</div>
<main>
	<!-- all page elements grouped into a section for easy manipulation and future proofing for when additional section are to be adde -->
	<section class="journey-page">
		<!-- seperate content details have own divs for clear distinction -->
		<div class="content-box">
			<h2>Experience</h2>
			<ul>
				<li>
					<h3>Blaze Acumen</h3>
					<p>Accoutant</p>
					<p>2020-2021</p>
				</li>
				<li>
					<h3>Sayers Partners</h3>
					<p>Accoutant</p>
					<p>2019-2020</p>
				</li>
				<li>
					<h3>DKP Partners</h3>
					<p>Accoutant</p>
					<p>2017-2019</p>
				</li>
			</ul>
		</div>
		<div class="content-box">
			<h2>Education</h2>
			<ul>
				<li>
					<h3>Coder Academy</h3>
					<p>Diploma of Information Technology</p>
					<p>2021-2022</p>
				</li>
				<p></p>
				<li>
					<h3>RMIT University</h3>
					<p>Bachelor of Business (Accoutancy)</p>
					<p>2014-2016</p>
				</li>
			</ul>
		</div>
		<div class="content-box">
			<h2>Skills</h2>
			<div>
				<ul>
					<li>Corperate Law</li>
					<li>Taxation Law</li>
					<li>Business Analysis</li>
					<li>Problem Solving</li>
					<li>Research and Reporting</li>
					<li>Planning and Management</li>
				</ul>
			</div>
		</div>
		<div class="content-box">
			<!-- Various programming languages for demo display -->
			<h2>Programming Languages/Frameworks</h2>
			<div class="pro-lang-box">
				<i class="devicon-html5-plain"></i>
				<i class="devicon-css3-plain"></i>
				<i class="devicon-sass-original"></i>
				<i class="devicon-bootstrap-plain"></i>
				<i class="devicon-ruby-plain"></i>
				<i class="devicon-rails-plain"></i>
				<i class="devicon-javascript-plain"></i>
				<i class="devicon-react-original"></i>
				<i class="devicon-postgresql-plain"></i>
				<i class="devicon-heroku-original"></i>
				<i class="devicon-git-plain"></i>
				<i class="devicon-github-original-wordmark"></i>
				<i class="devicon-amazonwebservices-original"></i>
			</div>
		</div>
	</section>
</main>
