<div class="h1-container">
	<h1 class="default-page-header blog-header">Projects</h1>
</div>
<p></p>
<main>
	<!-- !for demo purposes all project links will direct to project-photograph.html -->
	<!-- holds call project cards in a container -->
	<section class="projects-container">
		<!-- holds individual card -->
		<% @projects.each do |project| %>
			<article class="project-card">
				<!-- holds project image -->
				<div class="card-content">
					<!-- holds project title -->
					<h2 class="blog-heading"><%= project.name.titleize %></h2>
					<%# <img src="../imgs/Projects/photograph.PNG" alt="photograph video" class="project-img"> %>
					<p class="project-lang">
						<% project.technologies.each do |tech| %>
							<i class="<%= tech.icon %>"></i>
						<% end %>
					</p>
					<p class="blog-des"><%= project.description %></p>
					<%= link_to 'See More', project_path(project.id) %>
				</div>
			</article>
		<% end %>
	</section>
</main>
<script type="text/javascript" src="../scripts/vanilla-tilt.js" integrity="sha512-5RPueBRwDHxZ362heK/fya6Azw6ayHtn7nTqZnIoGFjiXdGAEvAjKco/FvzpTEIbfJI2Qxirl0/g21qizV/a/g=="></script>
<script>
	VanillaTilt.init(document.querySelectorAll(".project-card"),{
			max: 25,
			speed: 400,
	glare: true,
	"max glare": 1,
		});
</script>
