@import 'variables';
@import 'mixins';

// *<------------------//General styles applied throughout portfolio------------------>
// clarifying font size for whole portfolio
:root {
    font: 16px;
}

body {
    // *<------------------------SCROLLBAR---------------------------->
    // Changes size of scrollbar and scrollbar track as well as the static and hover color
    &::-webkit-scrollbar {
        width: 0.5rem;
    }
    &::-webkit-scrollbar-track {
        background: $scrollbar-track-color;
        box-shadow: inset 0 0 5px grey;
    }
    &::-webkit-scrollbar-thumb {
        background: $color-2;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: $scrollbar-hover;
    }
    // *<------------------------GENERAL---------------------------->
    margin: 0;
    padding: 0;
    height: 100vh;
    color: $color-1;
    font-family: 'Bitter', serif;
    box-sizing: border-box;
}

// margin to avoid overlapping with nav
main {
    margin-left: 5rem;
    padding: 1rem;
}

h1 {
    font-family: 'Bitter', serif;
    color: $color-1;
}

.background {
    @include page-default;
}

.h1-container {
    background: linear-gradient(
        to right,
        white,
        $background-color,
        black,
        $background-color,
        white
    );
    padding-bottom: 10px;
    box-shadow: 0 5px 10px black;
    display: flex;
    justify-content: center;
    @include fade-in;
}

b {
    color: $color-2;
}

// *<------------------------NAVIGATOR---------------------------->
// top level container for navigator
.navbar {
    position: fixed;
    background-color: $nav-background;
    transition: 200ms;
    z-index: 100;
}

// container holding individual navigation icons and a links
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

// personal logo set at top of navbar
.logo {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $scrollbar-track-color;
    img {
        transform: rotateY(0deg);
        transition: $transition-speed;
    }
}

// img element of logo - filter needed to be applied as the file is coded as an image and not an svg path. Using the attached link (https://codepen.io/sosuke/pen/Pjoqqp) i converted the hex color code to correct filter values.
.nav-logo {
    filter: invert(92%) sepia(5%) saturate(332%) hue-rotate(345deg)
        brightness(107%) contrast(91%);
    height: 3.5rem;
    width: 3.5rem;
}

// container used to hold a links
.nav-item {
    width: 100%;
}

// container holding icon and inline text seperately for alignment adjustments
.nav-link {
    display: grid;
    grid-template-columns: 40% 0;
    align-items: center;
    height: 3rem;
    color: $color-3;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: $transition-speed;
    i {
        margin: 0 0.5rem 0 1rem;
    }
    &:hover {
        filter: grayscale(0%) opacity(1);
        background: $color-4;
        color: $color-1;
    }
}

// link text hidden while static and appears when nav bar is hovered over
.link-text {
    display: none;
    margin-left: 1rem;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
}

// sizing for nav icon
.nav-icon {
    font-size: 1.5rem;
}

// direct icon adjustments
.fas,
.fab,
.far {
    color: $color-2;
    transition: $transition-speed;
}

// to highlight current page
.highlighted {
    filter: grayscale(0%) opacity(1);
    background: $color-4;
    color: $color-1;
}

// navigator media query - small screens
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 3.75rem;
        margin-top: auto;
    }
    .logo {
        display: none;
    }
    .navbar {
        flex-direction: row;
    }
    .nav-link {
        display: flex;
        justify-content: center;
        i {
            margin: 0 0 0 0;
        }
    }
    main {
        margin: 0;
    }
}

// navigator media query - Large screens
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        height: 100vh;
        width: 3.75rem;
        &:hover {
            width: 9rem;
            .link-text {
                display: block;
            }
            img {
                transform: rotateY(360deg);
            }
        }
    }
    .navbar-nav {
        flex-direction: column;
    }
}

// *<------------------------FOOTER---------------------------->

// fix position to bottom of page
.socials-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
}

// animate social links
.social-link {
    text-decoration: none;
    animation: fade-in 3s ease;
}

.socials {
    margin: 0 15px 0 0;
    font-size: 2.5rem;
    &:hover {
        font-size: 3rem;
        color: $color-1;
    }
}

// small screens
@media only screen and (max-width: 600px) {
    .socials-container {
        align-items: flex-start;
        top: 0px;
        padding-top: 8px;
    }
}

// Large screens
@media only screen and (min-width: 600px) {
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .socials-container {
        align-items: flex-end;
        bottom: 0px;
        padding-bottom: 8px;
    }
}

// *<------------------------FRONT COVER LOGO---------------------------->

// Container for logo on home page
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
}

// styling for logo directly
.front-cover {
    filter: invert(92%) sepia(5%) saturate(332%) hue-rotate(345deg)
        brightness(107%) contrast(91%);
    width: 100%;
    height: 100%;
    animation: rotate-round 3s ease;
}

// *<------------------------ABOUT PAGE---------------------------->

// styling for root of about page
.about-root {
    background-image: url(../imgs/About/5162018-485.jpg);
    background-size: cover;
    background-position: 150px -70px;
}

// styling for main text box on about page
.about-block {
    background: $b-trans-box;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 2em 20em 2em;
    top: 5rem;
    left: 10em;
    width: 45%;
    height: 80%;
    box-shadow: 5px 10px 10px black;
    backdrop-filter: blur(5px);
    transition: ease;
    animation: fade-in;
    animation-duration: $transition-speed;
}

// styling for about header on about page
.page-header {
    font-size: 3em;
    margin-top: 1rem;
}

// styling for quote on about page
.quote-container {
    position: absolute;
    top: 15%;
    left: 60%;
    font-size: 4em;
    font-family: 'EB Garamond', serif;
    animation: fade-in;
    animation-duration: $transition-speed;
    transition: ease;
}

// styling for display picture | only appears on smaller screens
.dp {
    display: none;
    img {
        height: 200px;
        width: 200px;
        border: 10px solid black;
        object-fit: none;
        object-position: -520px 40%;
        border-radius: 50%;
    }
}

// mid screen size media adjustment
@media only screen and (min-width: 856px) and (max-width: 1464px) {
    .quote-container {
        top: 0%;
    }
    .about-block {
        width: 50%;
    }
}

// smaller screens
@media only screen and (max-width: 850px) {
    .about-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        backdrop-filter: blur(3px);
    }
    .about-block {
        position: relative;
        padding: 0 0.5em 0em 2em;
        width: 95%;
        top: 0;
        left: 0;
        margin-top: 10px;
        margin-bottom: 60px;
    }
    .quote-container {
        position: relative;
        left: 0;
        top: 30px;
        font-size: 3em;
    }
    p {
        margin-top: 0;
    }
    .dp {
        display: block;
    }
}

// *<------------------------BLOG PAGE---------------------------->

.default-page-header {
    @include margin-default;
}

.blog-header {
    text-shadow: 2px 2px $background-color;
    color: $color-2;
}

// card styling and layout
.card-container {
    background: $content-box-grad;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    @include fade-in;
    .card {
        position: relative;
        width: 300px;
        height: 400px;
        margin: 30px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.1);
        overflow: hidden;
        display: flex;
        @include flex-center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        .card-content {
            padding: 20px;
            text-align: center;
            transition: 0.5s;
            opacity: 0;
            transform: translateY(100px);
            .count {
                position: absolute;
                top: -140px;
                right: 10px;
                font-size: 7em;
                font-family: 'Libre Baskerville', serif;
                color: rgba($color-1, 0.05);
                pointer-events: none;
            }
            .blog-heading {
                z-index: 1;
            }
            .blog-date,
            .blog-des {
                font-weight: 300;
            }
            a {
                position: relative;
                display: inline-block;
                padding: 8px 20px;
                margin-top: 15px;
                background: $color-1;
                color: $scrollbar-track-color;
                border-radius: 20px;
                text-decoration: none;
                font-weight: bold;
                box-shadow: 0 5px 15px rgba($scrollbar-track-color, 0.2);
            }
        }
    }
}

// larger screen
@media only screen and (min-width: 501px) {
    .card-container {
        .card {
            &:hover {
                .card-content {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }
}

// smaller screen
@media only screen and (max-width: 500px) {
    .h1-container {
        margin-top: 60px;
    }
    .card-container {
        .card {
            .card-content {
                opacity: 1;
                transform: translatey(0);
                .count {
                    top: -30px;
                }
            }
        }
    }
}

// *<------------------------PROJECTS PAGE---------------------------->

// utilises similar features to blog cards with adjustments so needed own class
.projects-container {
    background: $content-box-grad;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    @include fade-in;
    .project-card {
        position: relative;
        width: 400px;
        height: 400px;
        margin: 30px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.1);
        overflow: hidden;
        display: flex;
        @include flex-center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        .card-content {
            display: flex;
            @include flex-center;
            flex-direction: column;
            height: 100%;
            text-align: center;
            transition: 0.5s;
            opacity: 0;
            transform: translateY(100px);
            .blog-heading {
                position: absolute;
                top: 0.25rem;
                z-index: 1;
            }
            .blog-des {
                font-weight: 300;
                z-index: 1;
            }
            .project-lang {
                font-size: 1.5em;
                z-index: 1;
            }
            .project-img {
                position: absolute;
                width: 25rem;
                height: 16rem;
                z-index: 0;
                opacity: 0.5;
            }
            a {
                position: absolute;
                display: inline-block;
                bottom: 1.25rem;
                padding: 8px 20px;
                margin-top: 15px;
                background: $color-1;
                color: $scrollbar-track-color;
                border-radius: 20px;
                text-decoration: none;
                font-weight: bold;
                box-shadow: 0 5px 15px rgba($scrollbar-track-color, 0.2);
            }
        }
    }
}

// reused already styled icons, applied different styles in a different class so this takes priority as this class is lower on the scss page
.project-logo {
    color: white;
}

// larger screens
@media only screen and (min-width: 501px) {
    .projects-container {
        .project-card {
            &:hover {
                .card-content {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }
}

// smaller screens
@media only screen and (max-width: 500px) {
    .h1-container {
        margin-top: 60px;
    }
    .projects-container {
        .project-card {
            .card-content {
                opacity: 1;
                transform: translatey(0);
            }
        }
    }
}

// *<------------------------CONTACT PAGE---------------------------->

.contact-page-layout {
    display: flex;
    @include flex-center;
    background: $content-box-grad;
    height: 100%;
    padding-bottom: 8rem;
}

// styled contact forms similar to cards for consistant theme.
.contact-form {
    margin-top: 50px;
    padding: 25px;
    width: 500px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    label {
        display: block;
        padding: 17px 0 5px 0;
        font-weight: bold;
    }
    input,
    textarea {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1rem;
        outline: none;
        border-radius: 5px;
        padding: 6px 0;
        padding-left: 10px;
        border: 2px solid #ccc;
        font-family: 'Bitter', serif;
        background-color: $background-color;
        color: white;
        &:valid,
        &:focus {
            border-color: $color-2;
        }
    }
    textarea {
        padding-bottom: 10rem;
    }
    .button-container {
        display: flex;
        @include flex-center;
        margin-top: 30px;
        button {
            padding: 0.5rem 2rem;
            background: $color-5;
            outline: none;
            // border: none;
            font-weight: bold;
            font-size: 1rem;
            border-radius: 5px;
            transition: 10ms ease;
            font-family: 'Bitter', serif;
            &:hover {
                background-color: $background-color;
                color: orange;
                letter-spacing: 1px;
            }
        }
    }
}

// *<------------------------INDIVIDUAL BLOG PAGE---------------------------->

.blog-art-container {
    background: $content-box-grad;
    display: flex;
    @include flex-center;
    padding: 2% 4% 2% 4%;
    margin: 2% 20vh 5% 15vh;
    flex-direction: column;
    box-shadow: 1px 0 3px black, -1px 0 3px black;
    img {
        height: auto;
        width: 30%;
    }
}
.blog-header {
    margin: 0.5rem 0 0.5rem 0;
    padding: 0;
    font-size: 2.2rem;
}

.blog-date {
    padding: 0;
    margin: 0 0 1rem 0;
    font-size: 0.8rem;
}

// navigatation between blog/project pages
.page-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    a {
        text-decoration: none;
        color: white;
        transition: ease;
        transition-duration: 0.5s;
        &:hover {
            font-weight: bold;
            font-size: 1.2rem;
        }
    }
}

// overwrite .page-nav for last blog
.page-nav-end {
    justify-content: flex-end;
}

// mid-larger screens
@media only screen and (min-width: 501px) and (max-width: 1000px) {
    .blog-art-container {
        margin: 2% 3vh 5% 3vh;
    }
}

// smaller screens
@media only screen and (max-width: 500px) {
    .blog-art-container {
        margin: 2% 0 20% 0;
        img {
            width: 70%;
        }
    }
}

// *<------------------------PROJECT  PAGE---------------------------->

.project-header {
    margin: 0.5rem 0 3rem 0;
    padding: 0;
    font-size: 2.2rem;
}

// youtube embed resize
.blog-art-container {
    iframe {
        width: 560px;
        height: 315px;
    }
}

.seg-container {
    margin-top: 50px;
    i {
        font-size: 2rem;
    }
}

.img-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    img {
        transition: ease;
        transition-duration: 1s;
        border: 5px solid black;
        &:hover {
            height: auto;
            width: 70%;
            border-color: $color-2;
        }
    }
}

// smaller screens
@media only screen and (max-width: 500px) {
    .blog-art-container {
        iframe {
            width: 100%;
            height: auto;
        }
    }
    .img-container {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-content: space-around;
        flex-wrap: wrap;
    }
}

// *<------------------------JOURNEY  PAGE---------------------------->

// grid layout for even distribution of page divs
.journey-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: stretch;
    height: 100%;
    background: $content-box-grad;
}

// consistant stylings for all containers
.content-box {
    background: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: 5px 10px 10px black;
    backdrop-filter: blur(5px);
    padding: 0 30px 20px 15px;
    margin: 10px;
    height: auto;
    transition: ease;
    animation: fade-in;
    animation-duration: $transition-speed;
    overflow: auto;
}

// grid display of programming languages within its container
.pro-lang-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    i {
        font-size: 3rem;
        margin: 10px;
    }
}

// resume
#cv {
    color: #29f1ff;
    &:hover {
        color: $color-1;
    }
}

// smaller screens
@media only screen and (max-width: 500px) {
    .journey-page {
        display: flex;
        flex-direction: column;
        @include flex-center;
        height: 100%;
    }
    .content-box {
        margin-bottom: 80px;
    }
}
